@charset "UTF-8";
/* CSS Document */

#transcript p
{
	transform: translateY(20%);
}

footer p
{
	font-size:1.5em;
	padding:5px;
	bottom:10px;
}

.background img
{
	width: 600px;
	height:auto;
	margin: 100px 0px;
	left: 0;
}

#main
{
	background-color: rgba(245, 205, 93, 0.7);
}

body {
	background: url(../img/Audio.jpg);
	background-size: cover;
	color: rgb(255, 247, 225);
	line-height: 2.2em;
}