@charset "UTF-8";
/* CSS Document */
img
{
	height:600px;
	width:auto;
	left:10%;
	position: relative;
}

#transcript
{
	top: 50%;
	height: 720px;
	color: rgb(255, 247, 225);
	background-color: rgb(232, 116, 36);
}

#transcript p
{
	position:relative;
	top: 10%;
	font-size:1.5em;
}

#transcript h3
{
	position: relative;
	text-align:  right;
	top:10%;
	margin-bottom: 25px;
}

body
{
	
	background-color: rgba(245, 205, 93, 0.7);
	color: rgb(255, 247, 225);
}

.btn-default
{
	position:absolute;
	bottom:5px;
	right:20px;
	background-color: rgba(232, 116, 36, 0.8);
	text-decoration: none;
}

a {
	color:white;
}
